#mainHistoricoPage{
    position: relative;
    margin: 10rem 15rem 10rem 15rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.historico-grid{
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px solid rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.historico-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.historico-grid span{
    font-weight: 700;
}

.historico-grid .var{
    font-weight: 300;
}

.js-paginacao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.botao-paginacao{
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s ease all;
}

.botao-paginacao:hover{
    background-color: black;
    color: #fff;
    font-weight: 700;
    border: none;
}

.ativo{
    background-color: black;
    color: #fff;
    font-weight: 700;
    border: none;
}
