#loginPage{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.form-container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(49, 71, 64);
    border-radius: 5px;
    color: #fff;
}

.input-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.input-container label{
    font-weight: 500;
}

.input-box{
    position: relative;
    background-color: aquamarine;
}

.input-box input{
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0 16% 0 2%;
}

.input-box input:focus{
    outline: 1px solid rgb(255, 94, 0);
}

.icon{
    top: 25%;
    right: 5%;
    position: absolute;
    width: 20px;
}

button{
    cursor: pointer;
    width: 80px;
    height: 25px;
    border: none;
    background-color: rgb(219, 219, 219);
    font-weight: 900;
    transition: 0.3s ease all;
}


button:hover{
    opacity: 0.8;
}

