#mainEstoquePage{
    margin-top: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.search-container{
    display: flex;
    gap: 2rem;
}

.search-box{
    position: relative;
}

.search-box .search-input{
    position: relative;
    width: 20em;
    height: 30px;
    padding-left: 2.5em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.search-box .search-icon{
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 10%;
    transition: 0.3s ease all;
}

.search-box .search-icon:hover{
    transform: scale(1.1);
}

.filter-box{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);   
    padding: 0 0.5rem 0 0.5rem;
    transition: 0.3s ease all;
}

.filter-box:hover{
    background-color: rgb(240, 238, 238);
    border: none;
}

.icon{
    width:20px;
}

.produtos-container-grid{
    margin: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.produtos-box{
    position: relative;
    display: grid;
    grid-template-rows: repeat(1fr);
    justify-items: center;
    align-items: center;
    padding: 1rem;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.produtos-box div{
    font-weight: 900;
}

.produtos-box .produto{
    font-weight: 300;
}


.produtos-box .movimentacao{
    height: 30px;
    padding-left: 2%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.produtos-box .movimentacao:focus{
    outline: 1px solid rgb(255, 115, 0);
}

#page-icon{
    position: absolute;
    cursor: pointer;
    width: 30px;
    top: -7%;
    right: -3%;
    background-color: #fff;
}

.buttons-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.buttons-box button{
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s ease all;
}

.buttons-box button:hover{
    opacity: 0.7;
}

.buttons-box button:active{
    transform: scale(80%);
}

#entrada-produto{
    background-color: #46665b;
}

#saida-produto{
    background-color: #d46c0a;
}

.quantidade-produto{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.2rem;
    color: #fff;
    background-color: green;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.atencao{
    position: absolute;
    top: -5%;
    padding: 0.3rem;
    background-color: rgb(209, 13, 13);
    color: #fff;
    font-weight: 900;
    border-radius: 5px;
}
