#mainEstoquePage{
    margin-top: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.search-container{
    display: flex;
    gap: 2rem;
}

.search-box{
    position: relative;
}

.search-box .search-input{
    position: relative;
    width: 20em;
    height: 30px;
    padding-left: 2.5em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.search-box .search-icon{
    position: absolute;
    left: 2%;
    top: 10%;
}

.filter-box{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);   
    padding: 0 0.5rem 0 0.5rem;
    transition: 0.3s ease all;
}

.filter-box:hover{
    background-color: rgb(240, 238, 238);
    border: none;
}

img{
    width:20px;
}

.table-grid{
    display: grid;
    grid-template-columns: 800px;
    margin: 0 0 5rem 0;
}

.produtos-box{
    transition: 0.3s ease all;
}

.produtos-box:hover{
    background-color: rgb(136, 136, 136);
    color: #fff;
}

.cell-grid{
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.produtos-header{
    background-color: #E03F4F;
    color: #fff;
}

.produtos-header th, .cell-grid td{
    font-weight: 700;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3)
}




