
.product-icon{
    width: 10rem;
}

#mainProductPage{
    position: relative;
    margin: 10rem 15rem 10rem 15rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.produtoBoxGrid{
    position: relative;
    display: grid;
    grid-template-columns: 500px;
    gap: 2rem; 
    padding: 2rem;
    justify-items: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-informations-box{
    display: grid;
    grid-template-columns: 300px;
    gap: 1rem;
    justify-items: center;
    align-items: center;

}

.product-informations-box div{
    font-weight: 900;
}

.product-informations-box div span{
    font-weight: 300;
    text-decoration: none;
}

.icon{
    width: 20px;
}

.buttonsBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: 900;
    border: none;
    color: #fff;
    transition: 0.3s ease all;
}

button:hover{
    opacity: 0.8;
}

button:active{
    transform: scale(80%);
}

#editar{
    background-color: green;
}

#excluir{
    background-color: rgb(255, 0, 0);
}