@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #5C766D;
    color: #fff;
}

h1{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.header-links{
    display: flex;
    gap: 10rem;
}

.header-links a{
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.header-links a::before{
    content: '';
    width: 100%;
    height: 10%;
    top: 100%;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    transition: 0.3s ease all;
}

.header-links a:hover::before{
    width: 50%;
}

#check{
    display: none;
}

.icons{
    cursor: pointer;
    position: absolute;
    right: 3%;
    display: none;
}

.icons img{
    width: 5rem;
}

@media (max-width: 1250px){
    .header-links{
        display: flex;
        gap: 8rem;
    }
}

@media (max-width: 1150px){
    .header-links{
        display: flex;
        gap: 6rem;
    }
}

@media (max-width: 1050px){
    .header-links{
        display: flex;
        gap: 4rem;
    }
}

@media (max-width: 950px){

    .icons{
        display: flex;
    }

    #xIcon{
        display: none;
    }

    #check:checked ~ .icons #xIcon{
        display: flex;
    }

    #check:checked ~ .icons #menuIcon{
        display: none;
    }

    .header-links{
        position: absolute;
        align-items: center;
        flex-direction: column;
        background-color: #5C766D;
        width: 100%;
        left: 0;
        top: 100%;
        height: 0;
        z-index: 9999;
        transition: 0.3s ease all;
        overflow: hidden;
    }

    #check:checked ~ .header-links{
        padding: 3rem 0 3rem 0;
        height: 50vh;
        overflow-y: scroll;
    }
}